:root {
  --bg: #f8f9fa;
}

* {
  box-sizing: border-box;
  font-family: "Linux Libertine", "Georgia", "Times", serif;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  background-color: var(--bg);
  padding: 1rem;
}

body > :first-child {
  margin-top: 0;
}

nav {
  padding-top: 4rem;
  width: 20rem;
}

main {
  width: 100%;
}
